.w-100{
    width: 100%;
    margin-top: 8px;
}

.w-50{
    width: 48%;
    margin-top: 8px;
}

.float-right{
    float: right;
}

.green{
    color: rgb(24, 184, 24);
}

.red{
    color: red;
}

.m-0{
    margin: 0 !important;
}

.d-i-flex{
    display: inline-flex;
}